# dependencies
/node_modules
/.pnp
.pnp.js

# local env files
.env
.env*.local

# database
**/*.sqlite

# misc
.DS_Store
*.pem
/analyze/*
/db-backups/*
*.zip

# production
/public/robots.txt
/public/sitemap-0.xml
/public/sitemap.xml
/public/sw.js
/public/workbox-*.js 

# next.js
/.next/
/out/
/build/

# vercel
.vercel

# typescript
*.tsbuildinfo
prisma/dev.db
